body {
  background-color: #0B2434;
  padding: 20px;
  font-family: 'Karla', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}



main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:  #F5F5F5;
  border-radius: 10px;
  height: 400px;
  max-width: 800px;
  margin: 20px;
  padding: 40px;
}


.app--title {
  color: #2B283A;
  text-align: center;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  margin-bottom: 0px;
  font-size: 30px;
}

.app--description {
  margin-top: 0px;
  margin-bottom: 5px;
  max-width: 240px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: #4A4E74;
  font-weight: 400;
  font-size: 15px;

}


.roll--number {
  font-family: 'Karla', sans-serif;
  color:  #4A4E74;
}
.dice--container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px;
  gap: 25px;
}

.die {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  cursor: pointer;
  color: #2B283A;
  font-size: 20.589px;
  border-radius: 3.813px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
}




.game--button {
  margin-top: 17px;
  width: 92.16px;
  height: 50px;
  background-color: #5035FF;
  border-radius: 3.81px;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
display: flex;
align-items: center;
justify-content: center;
gap: 8px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.link--button {
  background-color: #5035FF;
  height: 30px;
  width: max-content;
  padding: 3px;
  border-radius: 3.81px;
  border: none;
  display: flex;
  align-items: center;
}

.save--button {
  margin-top: 17px;
  width: 92.16px;
  height: 50px;
  background-color: #EE9322;
  border-radius: 3.81px;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  gap: 2px
}

.leaderboard--titles {
  color: #0B2434;
  display: grid;
  grid-template-columns: 100px 25px;
  font-weight: bold;
}

.leaderboard--item {
  color: #0B2434; 
  display: grid;
  grid-template-columns: 110px 25px 20px;
  gap: 20px;
  border: solid;
  border-width: 0.5px;
  border-radius: 5px;
  border-color: gray;
  
}

.leaderboard--date {
  padding-left: 6px;
}